
   .div{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
   }
   
   .center {
        width:200px;
        height: 400px;
        object-fit: contain;
            }
